@font-face{
    font-family:'myfont';
    src:url("font.ttf");
}
h2,h3{
font-family:myfont;
}
body{background: #ff001d;
     color: #fff;}

h2,h3{text-align: center;
      color: #fff;}

h3{ border-bottom: 1px solid #fff;
    padding-bottom: 8px;}

img{ width: 100%; }

li{ margin-bottom: 12px; }

